.row__container {
  margin-left: 20px;
  color: white;
}

.poster__container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.poster__container::-webkit-scrollbar {
  display: none;
}

.poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.poster:hover {
  transform: scale(1.08);
}

.large__poster {
  max-height: 250px;
}

.large__poster:hover {
  transform: scale(1.09);
}
